body {

	padding-top: 75px;
}


.box-shadow {
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.05),
	           0 2px  8px 0 rgba(0,0,0,.05);
	
}

.icones-section {
	
	height: 150px;
	width: 150px;
}

.rodape {
	text-decoration: none;
}
